<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vipulkanade.group12.cmpe272.retailat12" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.vipulkanade.group12.cmpe272.view.RetailAt12Application"
        android:allowBackup="true"
        android:icon="@drawable/app_logo"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat" >
        <activity
            android:name="com.vipulkanade.group12.cmpe272.view.RetailAt12MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.vipulkanade.group12.cmpe272.view.RetailAt12AddToInventoryActivity"
            android:label="@string/app_name" />
        <activity
            android:name="com.vipulkanade.group12.cmpe272.view.EmployeeInStoreActivity"
            android:label="@string/title_activity_employee_in_store" >
        </activity>
        <activity
            android:name="com.vipulkanade.group12.cmpe272.view.GraphViewActivity"
            android:label="@string/title_activity_graph_view" >
        </activity>
        <activity
            android:name="com.vipulkanade.group12.cmpe272.view.LoginInToRetailAt12Activity"
            android:label="@string/title_activity_login_in_to_retail_at12"
            android:theme="@style/Theme.AppCompat" >
        </activity>
        <activity
            android:name="com.vipulkanade.group12.cmpe272.view.RetailAt12LandingActivity"
            android:label="@string/title_activity_retail_at12_landing" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.vipulkanade.group12.cmpe272.view.ListProductActivity"
            android:label="@string/title_activity_list_product" >
        </activity>
    </application>

</manifest>
